
main {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    font-family: "Special Gothic Condensed One", sans-serif;
    font-weight: 500;
  }
  
  main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 100%;
    border: none;
  }
  
  .login {
    background-color: #f0f0f0;
  }
  
  .form img {
    width: 30%;
  }
  
  h1 {
    font-size: 4rem;
    background-image: linear-gradient(#1c1cad , #9c9cff);  
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 60px;
  }