<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<div class="leftBar_Button">
    <button (click)="sideBar()"><i class="fa-solid fa-bars"></i></button>
</div>

<div class="leftBar">
    <div class="logo">
        <img src="img/ford.png" alt="logo">
    </div>
    <div class="menu">
        <div class="home">
            <a>Home</a>
        </div>
        <div class="dashboard">
            <a>Dashboard</a>
        </div>
    </div>
</div>

<div class="shadow">
    <select>
        ee
    </select>
</div>
