<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />



<div class="leftBar_Button">
    <button (click)="openBar()"><i class="fa-solid fa-bars"></i></button>
</div>

<div class="leftBar" [ngClass]="barButton ? 'leftBarOpen' : 'leftBarClosed'">
    <div class="closeBar">
        <button (click)="closeBar()"><i class="fa-solid fa-right-from-bracket"></i></button>
    </div>
    <div class="logo">
        <img src="/../ford.png" alt="logo" draggable="false">
    </div>
    <div class="menu">
        <div class="home">
            <button (click)="home()">Home</button>
        </div>
        <div class="dashboard">
            <button (click)="dashboard()">Dashboard</button>
        </div>
    </div>
</div>

<div class="shadow" (click)="closeBar()" *ngIf="barButton">
    <div class="shadowBar"></div>
    
</div>

