
<form [formGroup]="loginForm" (ngSubmit)="Submit()" #formDir="ngForm">
    <div class="input">
        <div class="input-text">
            <div class="input-icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <input 
                id="input"
                type="text"
                placeholder="Insira seu nome"
                formControlName="nome"
                name="nome"
                required
            />
        </div>
    </div>

    <div *ngIf="validationError" class="validation-error">
        <p><i class="fa-solid fa-triangle-exclamation"></i>Campo obrigatório</p>
    </div>

    <div class="input">
        <div class="input-text">
            <div class="input-icon">
                <i class="fa-solid fa-lock" id="iconInput"></i>
            </div>
            <input 
                id="input"
                [type]="passwordVisible ? 'text' : 'password'" 
                [(ngModel)]="password" 
                placeholder="Insira sua senha" 
                formControlName="senha"
                name="senha"
                required
            />

            <button type="button" (click)="togglePasswordVisibility()" class="toggle-password">
                <fa-icon [icon]="passwordVisible ? 'eye' : 'eye-slash'"></fa-icon>
            </button>
        </div>
    </div>

    <!-- <div *ngIf="senha.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="senha.errors?.['required']">Campo obrigatório</p>
    </div> -->
    <div *ngIf="validationError" class="validation-error">
        <p><i class="fa-solid fa-triangle-exclamation"></i>Campo obrigatório</p>
    </div>
    
    <div class="toggle">
        <div class="form-check form-switch">
            <label class="form-check-label" for="flexSwitchCheckDefault">Logar automaticamente</label>
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        </div>

        <button class="reset" (click)="resetForm()"><i class="fa-solid fa-trash"></i></button>
    </div>
    
    <button type="submit" id="button" (click)="Submit()" [disabled]="loginForm.invalid">Entrar</button>
</form>