<header>
    <app-header></app-header>
</header>

<main>
    <app-left-bar></app-left-bar>

    <app-card title="Dashboard" class="cardDashboard" style="top: 15%; left: 15%;">
        <select name="" id="">
            <option value="">Veículo</option>
            <option value="{{vehicle}}">1</option>
            <option value="{{vehicle}}">2</option>
            <option value="{{vehicle}}">3</option>
        </select>
    </app-card>

    <app-card title="Total de Vendas" class="cardDashboard" style="top: 15%; left: 35%;">
        ...
        <p>Unid.</p>
    </app-card>

    <app-card title="Conectados" class="cardDashboard" style="top: 15%; left: 55%;">
        ...
        <p>Unid.</p>
    </app-card>

    <app-card title="Update Software" class="cardDashboard" style="top: 15%; left: 75%;">
        ...
        <p>Unid.</p>
    </app-card>

    <app-table></app-table>
    
</main>