form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
     
    #icon-checked {
        color: greenyellow;
        display: none;
    }
    #icon-unchecked {
        color: red;
    }
}

.input-text {
    margin: 10px;
    padding: 10px;
    width: 25rem;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px black;

    input {
        width: 90%;
        border: none;
        outline: none;
        font-size: 1rem;
    }

    #iconInput {
        margin-right: 10px;
    }
}

.reset {
    width: 12rem;
    height: 1.5rem;
    margin-top: 10px;
    cursor: pointer;
}
.reset:hover {
    background-color: #666666;
}
  
button {
    margin: 10px;
    margin-top: 30px;
    padding: 8px;
    width: 25rem;
    border-radius: 10px;
    border: none;
    background-color: #3c3cff;
    color: white;
    border: solid 1px black;
    box-shadow: 0px 5px 0px 0px black;
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
    background-color: #3c3c3c;
    box-shadow: 0px 0px 0px 0px black;
}