<table>
    <thead>
        <tr>
            <th>Código - Vin</th>
            <th>Odômetro</th>
            <th>Nível de Combustível</th>
            <th>Status</th>
            <th>Lat.</th>
            <th>Long.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th><input type="text"/></th>
            <th>Km</th>
            <th>%</th>
            <th>...</th>
            <th>...</th>
            <th>...</th>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
        </tr>
    </tfoot>
</table>